@{
  Layout = "_Layout";
}

<h1>Alternate Guitar Tunings Home</h1>

<a asp-controller="TuningCategories"
    asp-action="Index">View All Alternate Tuning Categories</a>
<a asp-controller="Tunings"
    asp-action="Index">View All Alternate Tunings</a>
<a asp-controller="Artists"
    asp-action="Index">View All Artists</a>