@{
    Layout = "_Layout";
}

<h1>Alternate Guitar Tunings Home</h1>

<img src="~/image/cash_guitar.jpg" id="home-image" alt="johhny cash with guitar" height="500px">

@* <a asp-controller="TuningCategories"
    asp-action="Index">View All Alternate Tuning Categories</a>
<a asp-controller="Tunings"
    asp-action="Index">View All Alternate Tunings</a>
<a asp-controller="Artists"
    asp-action="Index">View All Artists</a>
<a asp-controller="Songs"
    asp-action="Index">View All Songs</a>

<br>


<ul>   
@if (!User.Identity.IsAuthenticated)
{
    <li class="nav-item">
    <a class="nav-link" href="~/Account/Login">Log In</a>
    </li>
    <p class="nav-link active">Not logged into account</p>  
}
else
{
    <li class="nav-item">
    <a class="nav-link" href="~/Account">Log Out</a>
    </li>
    <p class="nav-link active">Logged in as @User.Identity.Name</p>  
}
</ul> *@