@using GuitarTunings.Models
@model Tuning

<h1>Add a new alternate tuning</h1>
<div class="row">
  <div class ="col-sm">
<form asp-controller="Tunings" asp-action="Create" enctype="multipart/form-data" method="post">
  <ul>
    <li>
      <label asp-for="Name"></label>
      <input class="form-control" asp-for="Name" required/>
    </li>
    <li>
      <label asp-for="Notes"></label>
      <input class="form-control" asp-for="Notes" required/>
    </li>
    <li>
      <label asp-for="Description"></label>
      <input class="form-control" asp-for="Description" />
    </li>
    <li>
      <label asp-for="TuningCategoryId">Tuning Category</label>
      <select class="form-control" asp-for="TuningCategoryId"
              asp-items="ViewBag.TuningCategoryId">
        @* <option>Please select a category</option> *@
      </select>     
    </li>
    <li>
      <label asp-for="ImageNameA"></label>
      <input asp-for="ImageFileA" accept="image/*" required/>
    </li>
    <li>
      <label asp-for="ImageNameB"></label>
      <input asp-for="ImageFileB" accept="image/*" required/>
    </li>
    <li>
      <label asp-for="ImageNameC"></label>
      <input asp-for="ImageFileC" accept="image/*" required/>
    </li>
    <li>
      <label asp-for="ImageNameD"></label>
      <input asp-for="ImageFileD" accept="image/*" required/>
    </li>
    <li>
      <label asp-for="ImageNameE"></label>
      <input asp-for="ImageFileE" accept="image/*" required/>
    </li>
    <li>
      <label asp-for="ImageNameF"></label>
      <input asp-for="ImageFileF" accept="image/*" required/>
    </li>
    <li>
      <label asp-for="ImageNameG"></label>
      <input asp-for="ImageFileG" accept="image/*" required/>
    </li>
  </ul>
  
  <input type="submit", value="Add", class="btn btn-dark"/>
</form>
</div>
<div class="col-sm">
</div>
<div class="col-sm">
</div>  
</div>
<br>
<br>
<h6><a asp-action="Index">View all Alternate Tunings</a></h6>
<h6><a asp-controller="Home"
      asp-action="Index">Home</a></h6>