@{
  Layout = "_Layout";
}

@model GuitarTunings.ViewModels.EditViewModel


<h1>Edit User</h1>

<form asp-controller="Account" asp-action="Edit", method="post">
    <input type="hidden" asp-for="Id" />

    <label asp-for="UserName"></label>
    <input asp-for="UserName" required/>

    <label asp-for="Email"></label>
    <input asp-for="Email" required/>

    @* <label asp-for="Password"></label>
    <input asp-for="Password" required/> *@

    <span><input type="submit" value="Save" class="btn btn-warning"/> (Clicking the save button will require you to log in with updated account information)</span>
</form>