@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityOptions> userManager

@{
  Layout = "_Layout";
}

@using GuitarTunings.ViewModels
@model RegisterViewModel

<h4>Account Settings</h4>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Logged in as @User.Identity.Name</p>
  <a asp-controller="Account" asp-action="Edit" method="post"
      asp-route-id="@userManager.GetUserId(User)" class="btn btn-primary">Edit</a>

  
  <form asp-controller="Account" asp-action="LogOff" method="post">  
    <input type="submit" value="Log Out" class="btn btn-dark"/>
  </form>
}