@{
  Layout = "_Layout";
}


@using GuitarTunings.ViewModels
@model RegisterViewModel

@if(@TempData["LoginSuccess"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["LoginSuccess"]
  </div>  
}

@if(@TempData["userNotFound"] != null)
{
  <div class="alert alert-danger" role="alert">
    <b>User not found: </b>@TempData["userNotFound"]
  </div>
}

<h4>Account Settings</h4>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Logged in as @User.Identity.Name</p>
  <a asp-action="Edit"
      asp-route-name="@User.Identity.Name" class="btn btn-primary">Edit</a>
        
  <form asp-controller="Account" asp-action="LogOff" method="post">
    <input type="submit" value="Log Out" class="btn btn-dark"/>
  </form>

<br>
  <a  asp-action="Register">Add new account</a>
}