@{
  Layout = "_Layout";
}

@using GuitarTunings.ViewModels

@model RegisterViewModel

<h4>Register a new user</h4>
<hr />
<form asp-controller="Account" asp-action="Register" method="post">
  
  <label asp-for="UserName"></label>
  <input asp-for="UserName" required />

  <label asp-for="Email"></label>
  <input asp-for="Email" required />

  <label asp-for="Password"></label>
  <input asp-for="Password" required />

  <label asp-for="ConfirmPassword"></label>
  <input asp-for="ConfirmPassword" required />

  <input type="submit", value="Register", class="btn btn-dark"/>
</form>