@{
  Layout = "_Layout";
}

@using GuitarTunings.Models
@model TuningCategory

<h1>Add a new alternate tuning category</h1>

<form asp-controller="TuningCategories" asp-action="Create" method="post">
  <ul>
  <li>
    <label asp-for="Name"></label>
    <input asp-for="Name" required/>
  </li>
  <li>
    <label asp-for="Description"></label>
    <input asp-for="Description" />
  </li>
  </ul>
  
  <input type="submit", value="Add", class="btn btn-dark"/>
</form>