@model GuitarTunings.Models.TuningCategory

<h2>Edit Tuning Category</h2>

<h4>Edit this tuning category: @Html.DisplayFor(model => model.Name)</h4>

<form asp-controller="TuningCategories" asp-action="Edit", method="post">
    <input type="hidden" asp-for="TuningCategoryId" />

    <label asp-for="Name"></label>
    <input asp-for="Name" required/>

    <label asp-for="Description"></label>
    <input asp-for="Description" />

    <input type="submit" value="Save" class="btn btn-warning"/>
</form>
<br>
<a asp-controller="TuningCategories"
    asp-action="Details"
    asp-route-id="@Model.TuningCategoryId">Back to details for: @Model.Name</a>
<br>
<br>
<h6><a asp-controller="TuningCategories"
    asp-action="Index">View All Categories</a></h6>
<h6><a asp-controller="Home"
    asp-action="Index">Home</a></h6>