@{
  Layout = "_Layout";
}

@using GuitarTunings.Models
@model Song

<h1>Add a new alternate tuning</h1>

<form asp-controller="Songs" asp-action="Create" method="post">
  <ul>
  <li>
    <label asp-for="Name"></label>
    <input asp-for="Name" required/>
  </li>
  <li>
    <label asp-for="Album"></label>
    <input asp-for="Album" />
  </li>
  <li>
    <label asp-for="Tab"></label>
    <input asp-for="Tab" />
  </li>
  <li>
    <label asp-for="Video"></label>
    <input asp-for="Video" />
  </li>
  <li>
    <label asp-for="Tutorial"></label>
    <input asp-for="Tutorial" />
  </li>
  <li>
    <label asp-for="TuningId">Alternate Tuning</label>
    <select asp-for="TuningId"
            asp-items="ViewBag.TuningId">
      <option>Please select an Alternate Tuning</option>
    </select>     
  </li>
  </ul>
  
  <input type="submit", value="Add", class="btn btn-dark"/>
</form>

<a asp-action="Index">Back to list of all Songs</a>