@using GuitarTunings.Models
@model Artist

@if(TempData["ArtistDuplicate"] != null)
{
  <div class="alert alert-danger" role="alert">
    <a asp-action="Details" asp-route-id="@TempData["ExistingArtistId"]">@TempData["ArtistDuplicate"]</a>
  </div>  
}

<h1>Add a new artist</h1>

<form asp-controller="Artists" asp-action="Create" enctype="multipart/form-data" method="post">
  <ul>
  <li>
    <label asp-for="Name"></label>
    <input asp-for="Name", required />
  </li>
  <li>
    <label asp-for="Genre"></label>
    <input asp-for="Genre" />
  </li>
  <li>
    <label asp-for="Description"></label>
    <input asp-for="Description" />
  </li>
  <li>
    <label asp-for="ArtistImageName"></label>
    <input asp-for="ArtistImageFile" accept="image/*" required />
  </li>
  <li>
    @Html.Label("Alternate Tuning")
    @Html.DropDownList("TuningId")
  </li>
  </ul>
  
  <input type="submit", value="Add", class="btn btn-dark"/>
</form>
<br>
<br>
<h6><a asp-action="Index">View all Artists</a></h6>
<h6><a asp-controller="Home"
      asp-action="Index">Home</a></h6>